In [1]:
%load_ext sql

In [2]:
%sql sqlite:///learnsql.db

In [19]:
%%sql
SELECT Ca.CategoryName FROM Products Pro LEFT OUTER JOIN Categories Ca ON Pro.CategoryID = Ca.CategoryID;

 * sqlite:///learnsql.db
Done.

[('Beverages',),
 ('Beverages',),
 ('Condiments',),
 ('Condiments',),
 ('Condiments',),
 ('Condiments',),
 ('Produce',),
 ('Condiments',),
 ('Meat/Poultry',),
 ('Seafood',),
 ('Dairy Products',),
 ('Dairy Products',),
 ('Seafood',),
 ('Produce',),
 ('Condiments',),
 ('Confections',),
 ('Meat/Poultry',),
 ('Seafood',),
 ('Confections',),
 ('Confections',),
 ('Confections',),
 ('Grains/Cereals',),
 ('Grains/Cereals',),
 ('Beverages',),
 ('Confections',),
 ('Confections',),
 ('Confections',),
 ('Produce',),
 ('Meat/Poultry',),
 ('Seafood',),
 ('Dairy Products',),
 ('Dairy Products',),
 ('Dairy Products',),
 ('Beverages',),
 ('Beverages',),
 ('Seafood',),
 ('Seafood',),
 ('Beverages',),
 ('Beverages',),
 ('Seafood',),
 ('Seafood',),
 ('Grains/Cereals',),
 ('Beverages',),
 ('Condiments',),
 ('Seafood',),
 ('Seafood',),
 ('Confections',),
 ('Confections',),
 ('Confections',),
 ('Confections',),
 ('Produce',),
 ('Grains/Cereals',),
 ('Meat/Poultry',),
 ('Meat/Poultry',),
 ('Meat/Poultry',),
 ('Grains/Cereals',),
 ('Grains/Cereals',),
 ('Seafood',),
 ('Dairy Products',),
 ('Dairy Products',),
 ('Condiments',),
 ('Confections',),
 ('Condiments',),
 ('Grains/Cereals',),
 ('Condiments',),
 ('Condiments',),
 ('Beverages',),
 ('Confections',),
 ('Dairy Products',),
 ('Beverages',),
 ('Dairy Products',),
 ('Dairy Products',),
 ('Seafood',),
 ('Produce',),
 ('Beverages',),
 ('Beverages',),
 ('Condiments',)]

In [4]:
%%sql
SELECT * FROM Categories LIMIT 5;

 * sqlite:///learnsql.db
Done.

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (3, 'Confections', 'Desserts, candies, and sweet breads'),
 (4, 'Dairy Products', 'Cheeses'),
 (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal')]

In [5]:
%%sql
SELECT * FROM Products;

 * sqlite:///learnsql.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 43),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 43),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 43),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 43),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 43),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 23),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (45, 'Røgede sild', 21, 8, '1k pkg.', 43),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 43),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 27),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32),
 (54, 'Tourtière', 25, 6, '16 pies', 16),
 (55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 43),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34),
 (61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 43),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43),
 (64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 43),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 45),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 27),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13)]

In [21]:
%%sql
SELECT CategoryName,AVG(Price) Avarage FROM Products Pro LEFT OUTER JOIN Categories Ca ON Pro.CategoryID = Ca.CategoryID WHERE CategoryName = 'Beverages';

 * sqlite:///learnsql.db
Done.

[('Beverages', 42.75)]

In [7]:
%%sql
SELECT * FROM Customers LIMIT 2;

 * sqlite:///learnsql.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico')]

In [18]:
%%sql
SELECT Cus.Country,AVG(Price) Avarage FROM Products Pro LEFT OUTER JOIN OrderDetails Orde ON Pro.ProductID = Orde.ProductID
LEFT OUTER JOIN Orders Ord ON Orde.OrderID = Ord.OrderID
LEFT OUTER JOIN Customers Cus ON Ord.CustomerID = Cus.CustomerID WHERE Cus.Country = 'USA';

 * sqlite:///learnsql.db
Done.

[('USA', 49.5)]

In [9]:
%%sql
SELECT AVG(Price),CategoryName FROM Products LEFT OUTER JOIN Categories ON Products.CategoryID = Categories.CategoryID GROUP BY CategoryName;

 * sqlite:///learnsql.db
Done.

[(42.75, 'Beverages'),
 (28.25, 'Condiments'),
 (33.76923076923077, 'Confections'),
 (74.9, 'Dairy Products'),
 (23.571428571428573, 'Grains/Cereals'),
 (55.166666666666664, 'Meat/Poultry'),
 (32.2, 'Produce'),
 (26.5, 'Seafood')]

In [12]:
%%sql
SELECT SUM(p.Price) Total_Sales,emp.FirstName FROM Products p LEFT OUTER JOIN OrderDetails orde ON p.ProductID = orde.ProductID
LEFT OUTER JOIN Orders ord ON orde.OrderID = ord.OrderID 
LEFT OUTER JOIN Employees emp ON ord.EmployeeID = emp.EmployeeID GROUP BY emp.EmployeeID ORDER BY Total_Sales DESC;

 * sqlite:///learnsql.db
Done.

[(5515, 'Margaret'),
 (4353, 'Nancy'),
 (3048, 'Janet'),
 (2981, 'Michael'),
 (2380, 'Laura'),
 (1852, 'Robert'),
 (1550, 'Andrew'),
 (1408, 'Steven'),
 (520, 'Anne')]

In [28]:
%%sql
SELECT Cus.Country,Cat.CategoryName,AVG(Pro.Price) FROM Orders Ord LEFT OUTER JOIN Customers Cus ON Ord.CustomerID = Cus.CustomerID
LEFT OUTER JOIN OrderDetails Orde ON Ord.OrderID = Orde.OrderID
LEFT OUTER JOIN Products Pro ON Orde.ProductID = Pro.ProductID
LEFT OUTER JOIN Categories Cat ON Pro.CategoryID = Cat.CategoryID WHERE Country = 'Germany' GROUP BY CategoryName;

 * sqlite:///learnsql.db
Done.

[('Germany', 'Beverages', 20.5),
 ('Germany', 'Condiments', 34.0),
 ('Germany', 'Confections', 40.0),
 ('Germany', 'Dairy Products', 151.64705882352942),
 ('Germany', 'Grains/Cereals', 22.142857142857142),
 ('Germany', 'Meat/Poultry', 30.2),
 ('Germany', 'Produce', 30.75),
 ('Germany', 'Seafood', 27.09090909090909)]

In [38]:
%%sql
SELECT Cat.CategoryName,AVG(Pro.Price) FROM Orders Ord LEFT OUTER JOIN Customers Cus ON Ord.CustomerID = Cus.CustomerID
LEFT OUTER JOIN OrderDetails Orde ON Ord.OrderID = Orde.OrderID
LEFT OUTER JOIN Products Pro ON Orde.ProductID = Pro.ProductID
LEFT OUTER JOIN Categories Cat ON Pro.CategoryID = Cat.CategoryID WHERE Country = 'Germany' OR Country = 'USA'  GROUP BY CategoryName;

 * sqlite:///learnsql.db
Done.

[('Beverages', 29.88888888888889),
 ('Condiments', 34.72727272727273),
 ('Confections', 39.92307692307692),
 ('Dairy Products', 131.75862068965517),
 ('Grains/Cereals', 29.846153846153847),
 ('Meat/Poultry', 46.75),
 ('Produce', 28.625),
 ('Seafood', 25.6)]

In [43]:
%%sql
SELECT AVG(Products.Price) 
FROM Products 
LEFT JOIN OrderDetails on OrderDetails.ProductID = products.ProductID 
LEFT JOIN Orders on OrderDetails.OrderID = Orders.OrderID 
WHERE OrderDate LIKE '%07%' OR OrderDate LIKE '%08%' OR OrderDate LIKE  '%09%';

 * sqlite:///learnsql.db
Done.

[(39.71891891891892,)]

In [45]:
%%sql
SELECT Cus.CustomerName,MAX(Pro.Price) Maximum FROM Products Pro LEFT OUTER JOIN OrderDetails Orde ON Pro.ProductID = Orde.ProductID
LEFT OUTER JOIN Orders Ord ON Orde.OrderID = Ord.OrderID 
LEFT OUTER JOIN Customers Cus ON Ord.CustomerID = Cus.CustomerID WHERE Ord.OrderDate LIKE '%1997'
GROUP BY Cus.CustomerName ORDER BY Maximum DESC;

 * sqlite:///learnsql.db
Done.

[('Gourmet Lanchonetes', 435),
 ('Simons bistro', 263),
 ('Mère Paillarde', 263),
 ('Save-a-lot Markets', 123),
 ('Eastern Connection', 123),
 ('Wellington Importadora', 97),
 ('Ernst Handel', 55),
 ('Bottom-Dollar Marketse', 55),
 ("La maison d'Asie", 49),
 ('Folies gourmandes', 49),
 ('Reggiani Caseifici', 45),
 ('Queen Cozinha', 45),
 ('Wartian Herkku', 43),
 ('Toms Spezialitäten', 43),
 ('Rattlesnake Canyon Grocery', 43),
 ('Que Delícia', 43),
 ('QUICK-Stop', 43),
 ('Old World Delicatessen', 43),
 ('Hungry Owl All-Night Grocers', 43),
 ('Hungry Coyote Import Store', 43),
 ('Familia Arquibaldo', 43),
 ('Princesa Isabel Vinhoss', 38),
 ('Galería del gastrónomo', 38),
 ('Blondel père et fils', 38),
 ('Richter Supermarkt', 36),
 ('Ottilies Käseladen', 36),
 ('Consolidated Holdings', 34),
 ('Split Rail Beer & Ale', 31),
 ('Magazzini Alimentari Riuniti', 31),
 ('Franchi S.p.A.', 31),
 ('Piccolo und mehr', 23),
 ('Océano Atlántico Ltda.', 23),
 ('Folk och fä HB', 21),
 ('LINO-Delicateses', 10)]

In [51]:
%%sql
SELECT Emp.FirstName,COUNT(Ord.OrderID) Order_Number FROM  Orders Ord LEFT OUTER JOIN Employees Emp ON Ord.EmployeeID = Emp.EmployeeID
WHERE OrderDate LIKE '%1997%' GROUP BY FirstName ORDER BY Order_Number DESC;

 * sqlite:///learnsql.db
Done.

[('Janet', 13),
 ('Margaret', 9),
 ('Laura', 8),
 ('Andrew', 4),
 ('Robert', 3),
 ('Nancy', 3),
 ('Michael', 3),
 ('Anne', 1)]