In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Nba.db

In [3]:
%%sql
SELECT * FROM games LIMIT 10;

 * sqlite:///Nba.db
Done.

[('2022-12-22', 22200477, 'Final', 1610612740, 1610612759, 2022, 1610612740, 126, 0.484, 0.926, 0.382, 25, 46, 1610612759, 117, 0.478, 0.815, 0.321, 23, 44, 1),
 ('2022-12-22', 22200478, 'Final', 1610612762, 1610612764, 2022, 1610612762, 120, 0.488, 0.952, 0.457, 16, 40, 1610612764, 112, 0.561, 0.765, 0.333, 20, 37, 1),
 ('2022-12-21', 22200466, 'Final', 1610612739, 1610612749, 2022, 1610612739, 114, 0.482, 0.786, 0.313, 22, 37, 1610612749, 106, 0.47, 0.682, 0.433, 20, 46, 1),
 ('2022-12-21', 22200467, 'Final', 1610612755, 1610612765, 2022, 1610612755, 113, 0.441, 0.909, 0.297, 27, 49, 1610612765, 93, 0.392, 0.735, 0.261, 15, 46, 1),
 ('2022-12-21', 22200468, 'Final', 1610612737, 1610612741, 2022, 1610612737, 108, 0.429, 1.0, 0.378, 22, 47, 1610612741, 110, 0.5, 0.773, 0.292, 20, 47, 0),
 ('2022-12-21', 22200469, 'Final', 1610612738, 1610612754, 2022, 1610612738, 112, 0.386, 0.84, 0.317, 26, 62, 1610612754, 117, 0.469, 0.778, 0.462, 27, 47, 0),
 ('2022-12-21', 22200470, 'Final', 1610612751, 1610612744, 2022, 1610612751, 143, 0.643, 0.875, 0.636, 42, 32, 1610612744, 113, 0.494, 0.76, 0.364, 32, 36, 1),
 ('2022-12-21', 22200471, 'Final', 1610612752, 1610612761, 2022, 1610612752, 106, 0.553, 0.611, 0.423, 25, 38, 1610612761, 113, 0.447, 0.909, 0.265, 17, 38, 0),
 ('2022-12-21', 22200472, 'Final', 1610612745, 1610612753, 2022, 1610612745, 110, 0.466, 0.647, 0.395, 22, 49, 1610612753, 116, 0.451, 0.697, 0.297, 19, 45, 0),
 ('2022-12-21', 22200473, 'Final', 1610612750, 1610612742, 2022, 1610612750, 99, 0.494, 0.7, 0.267, 23, 39, 1610612742, 104, 0.453, 0.852, 0.333, 17, 39, 0)]

In [4]:
%%sql
SELECT AVG(PTS_home) FROM games WHERE SEASON = 2022;

 * sqlite:///Nba.db
Done.

[(114.28413284132841,)]

In [5]:
%%sql
SELECT * FROM games_details LIMIT 10;

 * sqlite:///Nba.db
Done.

[(22200477, 1610612759, 'SAS', 'San Antonio', 1629641, 'Romeo Langford', 'Romeo', 'F', None, '18:06', '1.0', '1.0', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '1.0', '2.0', '0.0', '1.0', '0.0', '2.0', '5.0', '2.0', '-2.0'),
 (22200477, 1610612759, 'SAS', 'San Antonio', 1631110, 'Jeremy Sochan', 'Jeremy', 'F', None, '31:01', '7.0', '14.0', '0.5', '2.0', '4.0', '0.5', '7.0', '10.0', '0.7', '6.0', '3.0', '9.0', '6.0', '1.0', '0.0', '2.0', '1.0', '23.0', '-14.0'),
 (22200477, 1610612759, 'SAS', 'San Antonio', 1627751, 'Jakob Poeltl', 'Jakob', 'C', None, '21:42', '6.0', '9.0', '0.667', '0.0', '0.0', '0.0', '1.0', '1.0', '1.0', '1.0', '3.0', '4.0', '1.0', '1.0', '0.0', '2.0', '4.0', '13.0', '-4.0'),
 (22200477, 1610612759, 'SAS', 'San Antonio', 1630170, 'Devin Vassell', 'Devin', 'G', None, '30:20', '4.0', '13.0', '0.308', '1.0', '6.0', '0.167', '1.0', '1.0', '1.0', '0.0', '9.0', '9.0', '5.0', '3.0', '0.0', '2.0', '1.0', '10.0', '-18.0'),
 (22200477, 1610612759, 'SAS', 'San Antonio', 1630200, 'Tre Jones', 'Tre', 'G', None, '27:44', '7.0', '12.0', '0.583', '1.0', '3.0', '0.333', '4.0', '4.0', '1.0', '0.0', '2.0', '2.0', '3.0', '0.0', '0.0', '2.0', '2.0', '19.0', '0.0'),
 (22200477, 1610612759, 'SAS', 'San Antonio', 1628380, 'Zach Collins', 'Zach', None, None, '18:04', '2.0', '6.0', '0.333', '0.0', '0.0', '0.0', '2.0', '2.0', '1.0', '1.0', '1.0', '2.0', '2.0', '0.0', '0.0', '0.0', '3.0', '6.0', '-13.0'),
 (22200477, 1610612759, 'SAS', 'San Antonio', 203926, 'Doug McDermott', 'Doug', None, None, '16:55', '2.0', '8.0', '0.25', '1.0', '5.0', '0.2', '0.0', '0.0', '0.0', '1.0', '3.0', '4.0', '1.0', '0.0', '0.0', '1.0', '0.0', '5.0', '-10.0'),
 (22200477, 1610612759, 'SAS', 'San Antonio', 1626196, 'Josh Richardson', 'Josh', None, None, '21:20', '5.0', '11.0', '0.455', '2.0', '5.0', '0.4', '2.0', '3.0', '0.667', '1.0', '2.0', '3.0', '3.0', '0.0', '0.0', '1.0', '2.0', '14.0', '-2.0'),
 (22200477, 1610612759, 'SAS', 'San Antonio', 1631103, 'Malaki Branham', 'Malaki', None, None, '21:10', '4.0', '6.0', '0.667', '1.0', '3.0', '0.333', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '2.0', '9.0', '-6.0'),
 (22200477, 1610612759, 'SAS', 'San Antonio', 1628966, 'Keita Bates-Diop', 'Keita', None, None, '9:16', '1.0', '3.0', '0.333', '0.0', '0.0', '0.0', '2.0', '2.0', '1.0', '1.0', '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '4.0', '-1.0')]

In [6]:
%%sql
SELECT teams.NICKNAME,teams.CITY FROM teams GROUP BY teams.CITY ORDER BY teams.MIN_YEAR;

 * sqlite:///Nba.db
Done.

[('Celtics', 'Boston'),
 ('Warriors', 'Golden State'),
 ('Knicks', 'New York'),
 ('Pistons', 'Detroit'),
 ('Kings', 'Sacramento'),
 ('Hawks', 'Atlanta'),
 ('76ers', 'Philadelphia'),
 ('Wizards', 'Washington'),
 ('Bulls', 'Chicago'),
 ('Rockets', 'Houston'),
 ('Thunder', 'Oklahoma City'),
 ('Bucks', 'Milwaukee'),
 ('Suns', 'Phoenix'),
 ('Cavaliers', 'Cleveland'),
 ('Clippers', 'Los Angeles'),
 ('Trail Blazers', 'Portland'),
 ('Jazz', 'Utah'),
 ('Nets', 'Brooklyn'),
 ('Nuggets', 'Denver'),
 ('Pacers', 'Indiana'),
 ('Spurs', 'San Antonio'),
 ('Mavericks', 'Dallas'),
 ('Hornets', 'Charlotte'),
 ('Heat', 'Miami'),
 ('Timberwolves', 'Minnesota'),
 ('Magic', 'Orlando'),
 ('Grizzlies', 'Memphis'),
 ('Raptors', 'Toronto'),
 ('Pelicans', 'New Orleans')]

In [7]:
%%sql
SELECT AVG(games.HOME_TEAM_WINS) AS Game_Wins,teams.NICKNAME FROM games LEFT OUTER JOIN games_details ON games.GAME_ID = games_details.GAME_ID
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID GROUP BY teams.NICKNAME ORDER BY Game_Wins DESC;

 * sqlite:///Nba.db
Done.

[(0.6157506225542512, 'Jazz'),
 (0.6135759829968119, 'Nuggets'),
 (0.6089192263936292, 'Trail Blazers'),
 (0.6070155362880155, 'Warriors'),
 (0.6039243540797301, 'Pacers'),
 (0.6035747632386288, 'Hawks'),
 (0.5970534693704754, 'Spurs'),
 (0.5968660968660968, 'Bucks'),
 (0.5965296803652969, 'Wizards'),
 (0.5954256218573399, 'Pistons'),
 (0.5953484187322866, 'Grizzlies'),
 (0.59495672436751, 'Heat'),
 (0.5921303058469437, 'Cavaliers'),
 (0.5907932150210805, 'Hornets'),
 (0.5868353736524758, '76ers'),
 (0.5863396745358698, 'Pelicans'),
 (0.5835633097899808, 'Kings'),
 (0.5827092081908307, 'Mavericks'),
 (0.5820667326198399, 'Clippers'),
 (0.5816638217590513, 'Rockets'),
 (0.5814276124412621, 'Raptors'),
 (0.5790016767702825, 'Lakers'),
 (0.5777867239219896, 'Thunder'),
 (0.5772504297513731, 'Celtics'),
 (0.5770957398076042, 'Magic'),
 (0.5748366162424021, 'Bulls'),
 (0.5686788741628811, 'Timberwolves'),
 (0.5655899802241265, 'Knicks'),
 (0.5640629262526143, 'Nets'),
 (0.5611278229246173, 'Suns'),
 (0.0, None)]

In [8]:
# When we examine the code above cell,we are able to see Jazz that won most games at home AVARAGELY! till 2019

In [9]:
%%sql
SELECT COUNT(games.HOME_TEAM_WINS) AS Game_Wins,teams.NICKNAME,teams.YEARFOUNDED FROM games LEFT OUTER JOIN games_details ON games.GAME_ID = games_details.GAME_ID
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID GROUP BY teams.NICKNAME ORDER BY Game_Wins DESC;

 * sqlite:///Nba.db
Done.

[(24032, 'Heat', 1988),
 (23851, 'Celtics', 1946),
 (23621, 'Spurs', 1976),
 (23259, 'Lakers', 1948),
 (23099, 'Mavericks', 1980),
 (22721, 'Warriors', 1946),
 (22593, 'Cavaliers', 1970),
 (22584, 'Nuggets', 1976),
 (22526, 'Pacers', 1976),
 (22491, 'Hawks', 1949),
 (22488, 'Jazz', 1974),
 (22473, 'Pistons', 1948),
 (22464, 'Bucks', 1968),
 (22356, 'Thunder', 1967),
 (22345, 'Raptors', 1995),
 (22273, 'Suns', 1968),
 (22262, 'Rockets', 1967),
 (22238, 'Clippers', 1970),
 (22229, 'Grizzlies', 1995),
 (21994, 'Nets', 1976),
 (21975, 'Trail Blazers', 1970),
 (21900, 'Wizards', 1961),
 (21892, '76ers', 1949),
 (21881, 'Bulls', 1966),
 (21830, 'Magic', 1989),
 (21815, 'Pelicans', 2002),
 (21379, 'Kings', 1948),
 (21353, 'Timberwolves', 1989),
 (21238, 'Knicks', 1946),
 (20398, 'Hornets', 1988),
 (99, None, None)]

In [10]:
# When we take a look above cell The team that won most times is Miami Heat.

In [11]:
#This queries show us the team that has best avarage winnig rate is not same with the the team has most winnig games.

## ------------------------------------------------------------------------------------------------------------

In [12]:
%%sql
SELECT AVG(NOT HOME_TEAM_WINS) AS AVG_Visitor_Wins,teams.NICKNAME FROM games LEFT OUTER JOIN games_details ON games.GAME_ID = games_details.GAME_ID
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID 
GROUP BY teams.NICKNAME ORDER BY AVG_Visitor_Wins DESC;

 * sqlite:///Nba.db
Done.

[(1.0, None),
 (0.43887217707538273, 'Suns'),
 (0.43593707374738566, 'Nets'),
 (0.43441001977587346, 'Knicks'),
 (0.4313211258371189, 'Timberwolves'),
 (0.42516338375759793, 'Bulls'),
 (0.4229042601923958, 'Magic'),
 (0.4227495702486269, 'Celtics'),
 (0.4222132760780104, 'Thunder'),
 (0.42099832322971753, 'Lakers'),
 (0.418572387558738, 'Raptors'),
 (0.4183361782409487, 'Rockets'),
 (0.41793326738016007, 'Clippers'),
 (0.4172907918091692, 'Mavericks'),
 (0.41643669021001917, 'Kings'),
 (0.4136603254641302, 'Pelicans'),
 (0.4131646263475242, '76ers'),
 (0.4092067849789195, 'Hornets'),
 (0.40786969415305624, 'Cavaliers'),
 (0.40504327563249004, 'Heat'),
 (0.40465158126771333, 'Grizzlies'),
 (0.40457437814266006, 'Pistons'),
 (0.4034703196347032, 'Wizards'),
 (0.4031339031339031, 'Bucks'),
 (0.40294653062952457, 'Spurs'),
 (0.3964252367613712, 'Hawks'),
 (0.3960756459202699, 'Pacers'),
 (0.39298446371198453, 'Warriors'),
 (0.3910807736063709, 'Trail Blazers'),
 (0.3864240170031881, 'Nuggets'),
 (0.38424937744574883, 'Jazz')]

In [13]:
# As we are able to see above cell,Most successful visitor team is Phoenix Suns,considiring avarage.

In [14]:
%%sql
SELECT COUNT(NOT HOME_TEAM_WINS) AS Visitor_Wins,teams.NICKNAME,teams.MIN_YEAR,teams.MAX_YEAR FROM games LEFT OUTER JOIN games_details ON games.GAME_ID = games_details.GAME_ID
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID GROUP BY teams.NICKNAME ORDER BY Visitor_Wins DESC;

 * sqlite:///Nba.db
Done.

[(24032, 'Heat', 1988, 2019),
 (23851, 'Celtics', 1946, 2019),
 (23621, 'Spurs', 1976, 2019),
 (23259, 'Lakers', 1948, 2019),
 (23099, 'Mavericks', 1980, 2019),
 (22721, 'Warriors', 1946, 2019),
 (22593, 'Cavaliers', 1970, 2019),
 (22584, 'Nuggets', 1976, 2019),
 (22526, 'Pacers', 1976, 2019),
 (22491, 'Hawks', 1949, 2019),
 (22488, 'Jazz', 1974, 2019),
 (22473, 'Pistons', 1948, 2019),
 (22464, 'Bucks', 1968, 2019),
 (22356, 'Thunder', 1967, 2019),
 (22345, 'Raptors', 1995, 2019),
 (22273, 'Suns', 1968, 2019),
 (22262, 'Rockets', 1967, 2019),
 (22238, 'Clippers', 1970, 2019),
 (22229, 'Grizzlies', 1995, 2019),
 (21994, 'Nets', 1976, 2019),
 (21975, 'Trail Blazers', 1970, 2019),
 (21900, 'Wizards', 1961, 2019),
 (21892, '76ers', 1949, 2019),
 (21881, 'Bulls', 1966, 2019),
 (21830, 'Magic', 1989, 2019),
 (21815, 'Pelicans', 2002, 2019),
 (21379, 'Kings', 1948, 2019),
 (21353, 'Timberwolves', 1989, 2019),
 (21238, 'Knicks', 1946, 2019),
 (20398, 'Hornets', 1988, 2019),
 (99, None, None, None)]

In [15]:
#As it can be seen considering the count of visitor team wins the most successful team is Miami Heat